body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 98%;
    background-color: rgb(248, 244, 244);
    -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar {
    width: 8px;
  }
  /* Track */
body::-webkit-scrollbar-track {
    background: rgb(202, 219, 221);
  }
   
  /* Handle */
body::-webkit-scrollbar-thumb {
    background: rgb(155, 168, 172); 
    border-radius: 25px;
  }
  
  /* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


#forminitial {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#piechart {
    border-radius: 6%;
    width:  250px;
    height: 300px;

}

/*----------------Carrossel-------------------*/

/*Ajustes dos slides/carrossel*/
* {box-sizing: border-box;}
.slideshow-container {
    padding-top: 126px;
    margin: 20px 0px 55px 627px;
    max-width: 350px;
    height: 400px;
    position: relative;
}

/*Hide images by default*/
.mySlides {
    position: relative;
}

/*Next and previous buttons*/
.prev {
    cursor: pointer;
    position: absolute;
    top: 74%;
    width: auto;
    margin-top: -80px;
    padding: 36px;
    color: white;
    font-weight: bold;
    font-size: 44px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    left: -85px;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 75%;
    width: auto;
    margin-top: -80px;
    margin-right: 15px; 
    padding: 36px;
    color: white;
    font-weight: bold;
    font-size: 44px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    right: 0;
}

  /* The dots/bullets/indicators */
#controle {
    margin-top: -55px;
    margin-left: 302px;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 7px;
    margin-right: 42px;
    margin-left: -34px;
  }
  .active, .dot:hover {
    background-color: #717171;
  } 

  /*Fading animation*/
  .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
  }
  @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
  }

  /*----------------Fim do carrossel------------------*/

  #over-sidebar {
    position: fixed;
    left: 0;
    padding: 0px 0px 0px 0px;
    margin: -16px 0px 0px 40px;
    background-color: white;
  }

  /*----------------Expandable Sidebar---------------------------*/
 
  .sidebar {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 64px;
    left: 0;
    background-color: rgb(0,188,212);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    white-space: nowrap;
}
.sidebar::-webkit-scrollbar {
    width: 8px;
    height: 100%;
  }
  /* Track */
  .sidebar::-webkit-scrollbar-track {
    background: rgb(109, 175, 184);
    overflow-x: hidden;
  }
   
  /* Handle */
  .sidebar::-webkit-scrollbar-thumb {
    background: rgb(35, 116, 141); 
    border-radius: 25px;
  }
  
  /* Handle on hover */
  .sidebar::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.icon-text {
    display: flex;
    width: 252px;
    height: 48px;
    user-select: none; /* Prevent text selection */
}

.icon-text button {
    display: flex;
    left: 0;
    width: 270px;
    height: 48px;
    cursor: pointer;
    border: none;
    font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif;
    font-size: 13px;
    background-color: rgb(0,188,212);
    margin: -4px 0px 0px -45px;
    padding-left: 46px;
    color: white;
}

.icon-text button:hover {
    background-color: rgb(89, 144, 151);
    transition: 0.6s;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 100px;
}

#header {
    float: left;
    height: 64px;
    width: 101%;
    background-color: rgb(255, 255, 255);
    top: 0;
    position: fixed;
    box-shadow: 0 4px 2px -2px gray;
}
#avatar {
    height: 30px;
    width: 30px;
    border-radius: 25px;
    background-color: grey;
    right: 69px;
    top: 18px;
    position: fixed;
    cursor: pointer;
}
#header-bell {
    height: 30px;
    width: 30px;
    border-radius: 25px;
    right: 123px;
    top: 17px;
    position: fixed;
    cursor: pointer;
}
#header-letter {
    height: 24px;
    width: 43px;
    border-radius: 25px;
    right: 172px;
    top: 20px;
    position: fixed;
    cursor: pointer;
}
#header-lingua {
    height: 20px;
    width: 18px;
    border-radius: 25px;
    right: 237px;
    top: 21px;
    position: fixed;
    cursor: pointer;
}
#container-tela {
    transition: initial;
    transition: 0.6s;
    
}

/*---------CONVERSAO DE MOEDA-----------*/

#dinheiro {
    background: transparent;
    padding: 0px 0px 0px 32px;
    display: flex;
    flex-direction: row;
    margin-top: -25px;
    position: relative;
}
#dinheiro ul {
    display: table;
    padding: 15px;
    border-spacing: 20px;
}
#dinheiro li {
  background: red;
  width: 290px;
  height: 128px;
  display: table-cell;
  padding: 30px 17px 28px 108px;
  list-style-position: inside;
  border-radius: 2%;
  box-shadow: 0 4px 2px -2px grey;
  font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif;
  color: white;
  font-size: 33px;
  text-align: center;
}

#dolar {
    width: 142px;
    height: 114px;
    margin-left: -226px;
    font-size: 68px;
    color: white;
}
#dolar-canadense {
  width: 142px;
  height: 114px;
  margin-left: -226px;
  font-size: 50px;
  color: white;
}
#euro {
  width: 142px;
  height: 114px;
  margin-left: -226px;
  font-size: 68px;
  color: white;
}
#dolar-australiano {
  width: 142px;
  height: 114px;
  margin-left: -226px;
  font-size: 50px;
  color: white;
}
/*---------FIM DA CONVERSAO DE MOEDA----*/
#grafico-longo {
    background: transparent;
    padding: 0px 0px 50px 32px;
    display: flex;
    flex-direction: row;
    margin-top: -60px;
    position: relative;
}
#grafico-longo ul {
    display: table;
    padding: 15px;
    border-spacing: 20px;
}
#grafico-longo li {
    height: 225px;
    width: 1215px;
    margin: 5px;
    display: table-cell;
    padding: 15px;
    list-style-position: inside;
    border-spacing: 20px;
    border-radius: .8%;
    box-shadow: 0 4px 2px -2px gray;
}

/*------------Div balancete--------------*/

#balancete {
    background: transparent;
    display: flex;
    flex-direction: row;
    top: -61px;
    right: -15px;
    position: relative;
}

#balancete ul {
    display: table;
    border-spacing: 13px;
    top: -61px;
}

#balancete li {
    background: red;
    margin: 5px;
    width: 234px;
    height: 128px;
    display: table-cell;
    padding: 15px;
    list-style-position: inside;
    border-radius: 2%;
    box-shadow: 0 4px 2px -2px gray;
}

#balancete2 {
    position: relative;
    display: flex;
    flex-direction: row;
    top: -100px;
    right: -15px;

}

#balancete2 ul {
    display: table;
    border-spacing: 13px;
}

#balancete2 li {
    background: red;
    margin: 5px;
    width: 234px;
    height: 128px;
    display: table-cell;
    padding: 15px;
    list-style-position: inside;
    border-radius: 2%;
    box-shadow: 0 4px 2px -2px gray;
}

/*#grafico-balancete {
    width: 474px;
    height: 276px;
    margin-left: 809px;
    margin-top: -420px;
    background-color: red;
    border-radius: 1%;
    box-shadow: 0 4px 2px -2px grey;
    position: static;
    padding: 0px 0px 0px 32px;
}

#grafico-balancete ul {
    display: table;
    width: 457px;

}

#grafico-balancete li {
    display: table-cell;
    width: 470px;
    height: 276px;
    list-style-position: inside;
    padding: 15px;
    margin-left: 813px;
    margin-top: -404px;
    border-radius: 1%;
    border: 20px;
    margin-right: 20px;
    box-sizing: border-box
}*/

#grafico-balancete {
    background: transparent;
    padding: 0px 0px 0px 32px;
    display: flex;
    flex-direction: row;
    margin-top: -455px;
    margin-left: 741px;
    position: relative;
}
#grafico-balancete ul {
    display: table;
    padding: 15px;
    border-spacing: 20px;
}
#grafico-balancete li {
    background: red;
    margin: 5px;
    width: 474px;
    height: 276px;
    display: table-cell;
    padding: 15px;
    list-style-position: inside;
    border-radius: 2%;
    box-shadow: 0 4px 2px -2px gray;
}



/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: -76px 10px 10px 4px;
    padding: 5px 10px 10px 1px;
  }
  
  /* Style the caret/arrow */
  .caret {
    user-select: none;
    background-color: rgb(0,188,212);
    display: flex;
    left: 0;
    width: 270px;
    height: 48px;
    cursor: pointer;
    border: none;
    font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif;
    font-size: 13px;
    color: white;
    margin: -5px 38px 5px -45px;
    padding: 15px 10px 10px 46px;
  }

 
  .caret:hover {
    background-color: rgb(89, 144, 151);
    transition: 0.6s;
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {  
    background-color: rgb(0,188,212);
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
    background-color: rgb(0,188,212);
    padding: 0px 20px 21px 3px;

  }
  .nested li {
    margin: -4px 38px 5px -61px;
    padding: 16px 100px 17px 60px;
    display: flex;
    width: 311px;
    height: 48px;
    cursor: pointer;
    border: none;
    font-family: RobotoDraft,Roboto,'Helvetica Neue',sans-serif;
    font-size: 13px;
    color: white;
  }
  .nested li:hover {
    background-color: rgb(89, 144, 151);
    transition: 0.6s;
    cursor: pointer
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }     








