body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
    background-color: rgb(127, 175, 175);
}
#container {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 100%;
}
#formulario {
    border-radius: 6%;
    top: 134px;
    right: 465px;
    width: 310px;
    height: 380px;
    position: absolute;
    background-color: rgb(245, 237, 237);
}
#formulario h1 {
    margin-left: 110px;
    margin-top: 60px;
    color: rgb(127, 175, 175);
}
#form {
    height: 170px;
}
#div-email {
    width: 340px;
    margin-top: 50px;
    margin-left: 50px;
    height: 60px;
}
#div-password{
    width: 340px;
    margin-top: 0px;
    margin-left: 50px;
    height: 60px;
}
#submit-btn{
    width: 93px;
    margin-top: 8px;
    margin-left: 50px;
    height: 28px;
}
.input{
    width: 205px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #cec6c6;
}
#input-btn {
    width: 205px;
    background-color: rgb(127, 175, 175);
    border: none;
    transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
}
input:focus {
    outline-width: 0;
    background-color: white;
}